:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  }
  
  *{
    box-sizing: border-box;
    background: #f5f5f5;
  }
  .header_section{
    display: flex;
    width: 100%;
    height: 150px;
    align-items: center;
    justify-content: center;
    padding: 1rem 10rem;
  }
  .sectionone{
    flex: 1;
  }
  #category{
    float: right;
    width: 230px;
    height: 35px;

  }
  #ddcategory{
    height: 100%;
    width: 100%;
    background: #A5A9AC0D;
    border: none;
    
    border-radius:5px 5px 0 0;
  }
  #circleblue{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 3px solid #1C4E9E;
    position: absolute;
    top: 75px;

  }
  #circlewhite{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 3px solid  white;
    position: absolute;
    top: 68px;
    background: #1C4E9E;
    
  }
  .sectiontwo{
    flex: 2;
  }
  #searcharea{
    display: flex;
    margin: 0;
    padding: 0;
    margin-bottom: 20px

  }
  #ddall{
    width: 75px;
    height: 45px;
    margin-left: 10px;
    font-size: 18px;
    border-radius: 10px 0 0 10px;
    border-width: 1px 0 1px 1px;
    padding-left: 16px;
    border-color: #A5A9AC;
  }
  #searchtext{
    background-image: url(../image/search-svgrepo-com.svg);
    background-size: 23px;
    background-repeat: no-repeat;
    background-position: 12px;
    padding: 12px 20px 12px 40px;
    border-width: 1px;
    border-color: #A5A9AC;
    width: 300px;
  }
  #searchbutton{
    width: 79px;
    border-radius: 0px 10px 10px 0px;
    background: #1C4E9E;
    border: none;
    color: white;
  }
  .anchorsite{
    margin-left: 90px;
  }
  .anchorsite > a{
    text-decoration: none;
    color: black;
    margin: 5px;
  }
  .sectionthree{
    flex: 1;
    margin-top: -30px;
    position: relative;
  }
  .sectionthree > button {
    border: none;
  }
  #numbershop{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #1C4E9E;
    position: absolute;
    top: -6px;
    left: 100px;
    color: white;
  }
  #elctro{
    font-size: 50px;
    font-weight: 900;

  }
#elctrof{
  font-size: 60px;
  font-weight: 900;
  color: white;
  background: #1C4E9E;
}

.footersection{
    position: relative;
    bottom: 1%;
    width: 100%;
    height: 380px;
    display: grid;
    grid-template-rows: 6fr 1fr;
    background: #1C4E9E;
}
#mainfooter{
  display: flex;
  padding: 1rem 10rem;
  background: #1C4E9E;
}
#sectionfone{
  flex: 1;
  background: #1C4E9E;
}
#sectionfone {
  background: #1C4E9E;
  color: white;
  margin: 5px;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
}
#sectionftwo{
  flex: 1;
  background: #1C4E9E;
}
#sectionfthree{
  flex: 1;
  background: #1C4E9E;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 40px;
}
#sidefooter{ 
  grid-row-start: 2;
  background: #1C4E9E;
  
}
#linegray{
  height: 2px;
  width: 60%;
  margin: auto;
  background: rgba(165, 169, 172, 0.2);
}
table,td,th {
  background: #1C4E9E;
  color: white;
  border: none;
  padding: 0 30px;
  font-size: 17px;
}

table{
  text-align: left;
  width: 80%;
  height: 80%;
  margin: auto;
  margin-top: 30px;
}

.input-with-button {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
  background-color: rgba(165, 169, 172, 0.1);
  color: white;  /* Added for text color */
}

.input-with-button input {
  border: none;
  flex-grow: 1;
  color: white;  /* Added for text color within input */
  background-color: rgba(165, 169, 172, 0);
}

.input-with-button button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  color: white;  /* Added for text color within button (icon) */
  background-color: rgba(165, 169, 172, 0);
}

.input-with-button button i {
  /* Icon styles */
  font-size: 18px;  /* Adjust icon size as needed */
  text-align: right;  /* Align icon text to the right */
  background-color: rgba(165, 169, 172, 0);
}
#inputemail::placeholder{
  color:white;
}
#inputemail{
  background-image: url("../image/mail.png");
  background-position: 10px;
  background-size: 20px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  color:white;
}
.pay{
  display: inline-flex;
  background: #1c4e9e;
  margin: 0px 0 0 20%
}
.p1, .p2, .p3, .p4, .p5{
  width: 36px;
  height: 24px;
  margin: 3px;
  background: white;
  padding: 3px;
  margin-top: 5px;
}
.copywright{
  display: inline-flex;
    margin-left: 10%;
    background: #1c4e9e;
    color: white;
}
.soicalnetwork{
  text-align: end; 
  margin-left: 15%;
  width: max-content;
  display: inline-flex;
  position: absolute;

}

/*-----------------------------
-------------------------------*/

.herosection{
  display: flex;
  height: 100vh;
  padding: 1rem 10rem;
}
.textbasesecone{
  flex: 1;
}
.manwithheadphonesectwo{
  flex: 1;
  justify-content: center;
  align-items: center;
}
.shopnow{
  width: 150px;
  height: 50px;
  background: #1c4e9e;
  color: white;
  border: none;
  border-radius: 10px;
  margin: 40px 0px 0px 40px;
  padding: 7px 9px 7px 9px;
}
/*----------------------------------
------------------------------------*/
.shopcontent{
  height: 200vh;
  background: white;
  display: flex;
  flex-direction: column;
}

.shopbycathegory{
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: white;
}
.shopads{
  flex: 1;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spstyle{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.stylecart{
  height: 10em;
  width: 10em !important;
  background: #f5f5f5;
  border-radius: 50%;
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.splide__arrows_c{
  position: absolute;
  left: 67rem;
  display: flex;
  top: 4px;
  background: white;

}
.nextarrow {
  width: 40px;
  height: 40px;
  background: #1C4E9E;
  border: none;
  margin: 5px;
  border-radius: 10px;
}
.prearrow{
  width: 40px;
  height: 40px;
  background: #f5f5f5;
  border: none;
  margin: 5px;
  border-radius: 10px;
}
.shopadone{
  height: 200px;
  width: 450px;
  background: #f5f5f5;
  display: inline-flex;
  margin: 5px;
  padding: 1rem 0rem 1rem 2rem;
  position: relative;
}
.offfifty{
  height: 30px;
  width: 70px;
  background: rgba(28, 78, 142, 0.1);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shopnowbutton{
  width: 100px;
  height: 30px;
  background: #1C4E9E;
  border: none;
  border-radius: 10px;
  color: white;
}

.bestseller{
  flex: 3;
  background: white;
  display: flex;
  flex-direction: column;
  padding: 1rem 12rem;

}

.cartbestseller{
  display: flex;
  background: white;
  margin-top: 25px;
}
.maincartbestseller{
  flex: 1;
  width: 200px;
  height: 500px;
  margin-right: 10px;
  padding: 1rem 0rem 4rem 1rem;
  

}
.containerofsmallcart{
  flex: 2;
  background: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 10px;
  column-gap: 10px; 
}

.smallcartbestseller{
  background: white;
}
.imgcontainer{
  width: 180px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.Advertisement{
  height: 55vh;
  width: 100%;
  background-image: url('../image/howard-bouchevereau-2Q-pPfHZHyo-unsplash\ 1.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 5rem 0rem 0rem 7rem;
}

.ourfeature{
  height: 30vh;
  width: 100%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.features{
  width: 230px;
  height: 100px;
  margin: 10px;
  background: white;
}

/*-----------
-----cover-------*/
.cover{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: #1013161A;
  display: none;

}
/*------------------------
-----login--------------*/

.div {
  display: none;
  /*display: flex;*/
  max-width: 420px;
  flex-direction: column;
  max-height: 620px;
  margin: auto;

}
.div-2 {
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: var(--White-500, #fff);
  align-self: end;
  display: flex;
  width: 35px;
  height: 35px;
  padding: 0 5px;
  margin-top: 4px;
  border: none;
}
.img {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 100%;
}
.div-3 {
  justify-content: center;
  border-radius: 16px;
  box-shadow: 0px 10px 40px -4px rgba(16, 24, 40, 0.02),
    0px 8px 8px -4px rgba(16, 24, 40, 0.02);
  border-color: rgba(165, 169, 172, 0.2);
  border-style: solid;
  border-width: 1px;
  background-color: var(--White-500, #fff);
  display: flex;
  margin-top: 10px;
  width: 100%;
  flex-direction: column;
  padding: 20px;
}
.div-4 {
  display: flex;
  flex-direction: column;
}
.div-5 {
  color: var(--Dark-500, #101316);
  font: 700 25px / 140% Montserrat, sans-serif;
}
.div-6 {
  color: var(--Gray-500, #a5a9ac);
  font: 400 13px / 30px Montserrat, sans-serif;
}
.div-7 {
  display: flex;
  margin-top: 16px;
  flex-direction: column;
  font-weight: 400;
}
.div-8 {
  display: flex;
  flex-direction: column;
  color: var(--Dark-500, #101316);
}
.div-9 {
  display: flex;
  flex-direction: column;
}
.div-10 {
  padding-top: 7px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.div-11 {
  font: 11px/167% Montserrat, sans-serif;
}
.div-12 {
  justify-content: center;
  align-items: start;
  border-radius: 10px;
  border-color: rgba(28, 78, 142, 1);
  border-style: solid;
  border-width: 1px;
  margin-top: 8px;
  white-space: nowrap;
  padding: 21px 16px;
  font: 13px / 50.5% Montserrat, sans-serif;
}
.div-13 {
  padding-top: 7px;
  justify-content: center;
  display: flex;
  margin-top: 16px;
  flex-direction: column;
  white-space: nowrap;
}
.div-14 {
  font: 11px/167% Montserrat, sans-serif;
}
.div-15 {
  justify-content: center;
  align-items: start;
  border-radius: 10px;
  border-color: rgba(28, 78, 142, 1);
  border-style: solid;
  border-width: 1px;
  margin-top: 8px;
  padding: 27px 16px;
  font: 13px / 50.5% Montserrat, sans-serif;
  height: 50px;
}
.div-16 {
  display: flex;
  margin-top: 10px;
  gap: 20px;
}
.div-17 {
  justify-content: center;
  display: flex;
  gap: 0px;
  font-size: 13px;
  line-height: 25px;
  padding-right: 16px;
}
.img-2 {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 24px;
  margin: auto 0;
}
.div-18 {
  font-family: Montserrat, sans-serif;
}
.div-19 {
  text-align: right;
  flex: 1;
  margin: auto 0;
  font: 12px/18px Montserrat, sans-serif;
}
.div-20 {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  font-size: 15px;
  white-space: nowrap;
  line-height: 20px;
}
.div-21 {
  font-family: Montserrat, sans-serif;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: var(--Primary-500, #1c4e8e);
  color: var(--White-500, #fff);
  padding: 13px 20px;
  display: flex;
}
.div-22 {
  font-family: Montserrat, sans-serif;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border-color: rgba(28, 78, 142, 1);
  border-style: solid;
  border-width: 1px;
  margin-top: 10px;
  color: var(--Primary-500, #1c4e8e);
  padding: 13px 20px;
  display: flex;
}
.div-23 {
  align-items: center;
  display: flex;
  margin-top: 16px;
  gap: 8px;
  font-size: 12px;
  color: var(--Dark-500, #101316);
  font-weight: 400;
  text-align: center;
  line-height: 15px;
}
.div-24 {
  background-color: var(--gray-gray-20, rgba(165, 169, 172, 0.2));
  align-self: stretch;
  width: 132px;
  height: 1px;
  margin: auto 0;
}
.div-25 {
  font-family: Montserrat, sans-serif;
  align-self: stretch;
}
.div-26 {
  background-color: var(--gray-gray-20, rgba(165, 169, 172, 0.2));
  align-self: stretch;
  width: 133px;
  height: 1px;
  margin: auto 0;
}
.div-27 {
  display: flex;
  margin-top: 16px;
  flex-direction: column;
  font-size: 16px;
  color: var(--Dark-500, #101316);
  font-weight: 400;
  line-height: 30px;
}
.div-28 {
  justify-content: center;
  border-radius: 10px;
  border-color: rgba(165, 169, 172, 0.2);
  border-style: solid;
  border-width: 1px;
  display: flex;
  gap: 10px;
  padding: 13px 20px;
}
.img-3 {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 24px;
  margin: auto 0;
}
.div-29 {
  font-family: Montserrat, sans-serif;
}
.div-30 {
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border-color: rgba(165, 169, 172, 0.2);
  border-style: solid;
  border-width: 1px;
  display: flex;
  margin-top: 10px;
  padding: 13px 20px;
}
.div-31 {
  display: flex;
  gap: 10px;
}
.img-4 {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 24px;
  margin: auto 0;
}
.div-32 {
  font-family: Montserrat, sans-serif;
}



.rdiv {
  display: none;
  /*display: flex;*/
  max-width: 420px;
  flex-direction: column;
  max-height: 620px;
  margin: auto;

}
.rdiv-2 {
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: var(--White-500, #fff);
  align-self: end;
  display: flex;
  width: 35px;
  height: 35px;
  padding: 0 5px;
  margin-top: 4px;
  border: none;
}
.rimg {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 100%;
}
.rdiv-3 {
  justify-content: center;
  border-radius: 16px;
  box-shadow: 0px 10px 40px -4px rgba(16, 24, 40, 0.02),
    0px 8px 8px -4px rgba(16, 24, 40, 0.02);
  border-color: rgba(165, 169, 172, 0.2);
  border-style: solid;
  border-width: 1px;
  background-color: var(--White-500, #fff);
  display: flex;
  margin-top: 10px;
  width: 100%;
  flex-direction: column;
  padding: 20px;
}
.rdiv-4 {
  display: flex;
  flex-direction: column;
}
.rdiv-5 {
  color: var(--Dark-500, #101316);
  font: 700 25px / 140% Montserrat, sans-serif;
}
.rdiv-6 {
  color: var(--Gray-500, #a5a9ac);
  font: 400 13px / 30px Montserrat, sans-serif;
}
.rdiv-7 {
  display: flex;
  margin-top: 16px;
  flex-direction: column;
  font-weight: 400;
}
.rdiv-8 {
  display: flex;
  flex-direction: column;
  color: var(--Dark-500, #101316);
}
.rdiv-9 {
  display: flex;
  flex-direction: column;
}
.rdiv-10 {
  padding-top: 7px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.rdiv-11 {
  font: 11px/167% Montserrat, sans-serif;
}
.rdiv-12 {
  justify-content: center;
  align-items: start;
  border-radius: 10px;
  border-color: rgba(28, 78, 142, 1);
  border-style: solid;
  border-width: 1px;
  margin-top: 0px;
  white-space: nowrap;
  padding: 21px 16px;
  font: 13px / 50.5% Montserrat, sans-serif;
}
.rdiv-13 {
  padding-top: 7px;
  justify-content: center;
  display: flex;
  margin-top: 0px;
  flex-direction: column;
  white-space: nowrap;
}
.rdiv-14 {
  font: 11px/167% Montserrat, sans-serif;
}
.rdiv-15 {
  justify-content: center;
  align-items: start;
  border-radius: 10px;
  border-color: rgba(28, 78, 142, 1);
  border-style: solid;
  border-width: 1px;
  margin-top: 8px;
  padding: 27px 16px;
  font: 13px / 50.5% Montserrat, sans-serif;
  height: 50px;
}
.rdiv-16 {
  display: flex;
  margin-top: 10px;
  gap: 20px;
}
.rdiv-17 {
  justify-content: center;
  display: flex;
  gap: 0px;
  font-size: 13px;
  line-height: 25px;
  padding-right: 16px;
}
.rimg-2 {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 24px;
  margin: auto 0;
}
.div-18 {
  font-family: Montserrat, sans-serif;
}
.div-19 {
  text-align: right;
  flex: 1;
  margin: auto 0;
  font: 12px/18px Montserrat, sans-serif;
}
.rdiv-20 {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  font-size: 15px;
  white-space: nowrap;
  line-height: 20px;
}
.rdiv-21 {
  font-family: Montserrat, sans-serif;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: var(--Primary-500, #1c4e8e);
  color: var(--White-500, #fff);
  padding: 13px 20px;
  display: flex;
}
.rdiv-22 {
  font-family: Montserrat, sans-serif;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border-color: rgba(28, 78, 142, 1);
  border-style: solid;
  border-width: 1px;
  margin-top: 10px;
  color: var(--Primary-500, #1c4e8e);
  padding: 13px 20px;
  display: flex;
}
.rdiv-23 {
  align-items: center;
  display: flex;
  margin-top: 16px;
  gap: 8px;
  font-size: 12px;
  color: var(--Dark-500, #101316);
  font-weight: 400;
  text-align: center;
  line-height: 15px;
}
.rdiv-24 {
  background-color: var(--gray-gray-20, rgba(165, 169, 172, 0.2));
  align-self: stretch;
  width: 132px;
  height: 1px;
  margin: auto 0;
}
.rdiv-25 {
  font-family: Montserrat, sans-serif;
  align-self: stretch;
}
.rdiv-26 {
  background-color: var(--gray-gray-20, rgba(165, 169, 172, 0.2));
  align-self: stretch;
  width: 133px;
  height: 1px;
  margin: auto 0;
}
.rdiv-27 {
  display: flex;
  margin-top: 16px;
  flex-direction: column;
  font-size: 16px;
  color: var(--Dark-500, #101316);
  font-weight: 400;
  line-height: 30px;
}
.rdiv-28 {
  justify-content: center;
  border-radius: 10px;
  border-color: rgba(165, 169, 172, 0.2);
  border-style: solid;
  border-width: 1px;
  display: flex;
  gap: 10px;
  padding: 13px 20px;
}
.rimg-3 {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 24px;
  margin: auto 0;
}
.rdiv-29 {
  font-family: Montserrat, sans-serif;
}
.rdiv-30 {
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border-color: rgba(165, 169, 172, 0.2);
  border-style: solid;
  border-width: 1px;
  display: flex;
  margin-top: 10px;
  padding: 13px 20px;
}
.rdiv-31 {
  display: flex;
  gap: 10px;
}
.rimg-4 {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 24px;
  margin: auto 0;
}
.rdiv-32 {
  font-family: Montserrat, sans-serif;
}