:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  }

  body{
    min-height: 100vh;
    margin: 0;
    position: relative;
  }
  *{
    box-sizing: border-box;
    background: white;
  }
  .header_section{
    display: flex;
    width: 100%;
    height: 150px;
    align-items: center;
    justify-content: center;
    padding: 1rem 10rem;
  }
  .sectionone{
    flex: 1;
  }
  #category{
    float: right;
    width: 230px;
    height: 35px;

  }
  #ddcategory{
    height: 100%;
    width: 100%;
    background: #A5A9AC0D;
    border: none;
    
    border-radius:5px 5px 0 0;
  }
  #circleblue{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 3px solid #1C4E9E;
    position: absolute;
    top: 75px;

  }
  #circlewhite{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 3px solid  white;
    position: absolute;
    top: 68px;
    background: #1C4E9E;
    
  }
  .sectiontwo{
    flex: 2;
  }
  #searcharea{
    display: flex;
    margin: 0;
    padding: 0;
    margin-bottom: 20px

  }
  #ddall{
    width: 75px;
    height: 45px;
    margin-left: 10px;
    font-size: 18px;
    border-radius: 10px 0 0 10px;
    border-width: 1px 0 1px 1px;
    padding-left: 16px;
    border-color: #A5A9AC;
  }
  #searchtext{
    background-image: url(../image/search-svgrepo-com.svg);
    background-size: 23px;
    background-repeat: no-repeat;
    background-position: 12px;
    padding: 12px 20px 12px 40px;
    border-width: 1px;
    border-color: #A5A9AC;
    width: 300px;
  }
  #searchbutton{
    width: 79px;
    border-radius: 0px 10px 10px 0px;
    background: #1C4E9E;
    border: none;
    color: white;
  }
  .anchorsite{
    margin-left: 90px;
  }
  .anchorsite > a{
    text-decoration: none;
    color: black;
    margin: 5px;
  }
  .sectionthree{
    flex: 1;
    margin-top: -30px;
    position: relative;
  }
  .sectionthree > button {
    border: none;
  }
  #numbershop{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #1C4E9E;
    position: absolute;
    top: -6px;
    left: 100px;
    color: white;
  }
  #elctro{
    font-size: 50px;
    font-weight: 900;

  }


/*-----------
-----cover-------*/
.cover{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: #1013161A;
    display: flex;
    justify-content: center;
    align-items: center;

}

/*-----------------------
------login successful---*/
.div {
    border-radius: 16px;
    box-shadow: 0px 10px 40px -4px rgba(16, 24, 40, 0.02),
      0px 8px 8px -4px rgba(16, 24, 40, 0.02);
    border-color: rgba(165, 169, 172, 0.2);
    border-style: solid;
    border-width: 1px;
    background-color: var(--White-500, #fff);
    display: flex;
    max-width: 392px;
    flex-direction: column;
    padding: 20px;
  }
  .img {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 108px;
    background-color: var(--primary-primary-10, rgba(28, 78, 142, 0.1));
    border-radius: 50%;
    align-self: center;
    height: 108px;
  }
  .div-2 {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
  }
  .div-3 {
    display: flex;
    flex-direction: column;
    color: var(--Dark-500, #101316);
    text-align: center;
  }
  .div-4 {
    font: 700 24px/36px Montserrat, sans-serif;
  }
  .div-5 {
    margin-top: 10px;
    font: 400 16px/30px Montserrat, sans-serif;
  }
  .div-6 {
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: var(--Primary-500, #1c4e8e);
    margin-top: 30px;
    color: var(--White-500, #fff);
    padding: 13px 20px;
    font: 400 16px/30px Montserrat, sans-serif;
    display: flex;
  }
  /*-----------------
  -------hero section -----*/
  .herosection{
    display: flex;
    height: 100vh;
    padding: 1rem 10rem;
  }
  .textbasesecone{
    flex: 1;
  }
  .manwithheadphonesectwo{
    flex: 1;
    justify-content: center;
    align-items: center;
  }
  .shopnow{
    width: 150px;
    height: 50px;
    background: #1c4e9e;
    color: white;
    border: none;
    border-radius: 10px;
    margin: 40px 0px 0px 40px;
    padding: 7px 9px 7px 9px;
  }